<!DOCTYPE html>
<html ng-app='listaTelefonica'>
<head>
   <title>Curso AngularJS</title>
   <!-- stylesheet --> 
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
   <!-- javascript -->
   <script type="text/javascript" src="lib/angular.min.js"></script>
   <script type="text/javascript" src="lib/index.js"></script>
</head>
<body ng-controller='listaTelefonicaCtrl'
  class='container'>
   <div>
   	  <h4 ng-bind="app"></h4>
   </div>
   <table class='table'>
   	 <thead>
   	    <th>Nome</th>
   	 	<th>Telefone</th>
   	 	<th>Operadora</th>
   	 </thead>
   	 <tbody>
   	 	<tr ng-repeat='contato in contatos'>
   	 	   <td>{{ contato.nome }}</td>
   	 	   <td>{{ contato.telefone }}</td>
   	 	   <td>{{ contato.operadora.nome }}</td>
   	 	</tr>
   	 </tbody>
   </table>
   <form novalidate><br>
   	 <div class='field'>
   	 	<label>Nome: {{ nome }}</label><br>
   	 	<input type='text' class='form-control' placeholder='Digite o nome' 
   	 	 required='required' ng-model='contato.nome'>
   	 </div>
   	 <div class='field'>
   	 	<label>Telefone: {{ telefone }} </label><br>
   	 	<input type='text' class='form-control' placeholder='Digite o telefone'
   	 	required='required' ng-model='contato.telefone'>
   	 </div>
   	 <div class='field'>
   	 	<label>Operadora</label><br>
   	 	<select class='form-control' required='required'
   	 	ng-model='contato.operadora' placeholder='Selecionar'
   	 	ng-options='operadora.nome for operadora in operadoras'>
   	 	  <option value="">Selecione uma operadora</option>
   	 	  <option value='operdora.nome'>{{ operadora.nome }}</option>
   	 	</select>
   	 </div>
   	 <div class='field'><br>
   	 	<input type='submit' ng-click='adicionarContato(contato)' 
   	 	class='btn btn-primary btn-lg top' ng-disabled='!(contato.nome && contato.telefone)'>
   	 </div>
   	 {{ contato }}
   </form>
</body>
</html>